// --------------------------------------------------------------------------
// General properties for the secondary pages -------------------------------
// --------------------------------------------------------------------------


.aux-text {
    
    font-weight: $font-weight--bold;
    min-width: 0;
    h2 {
        font-size: em(26px);
        margin-top: 30px;
        font-weight: $font-weight--ultra-bold;
    }
    h3 {
        font-size: em(24px);
        font-weight: $font-weight--bold;
    }
    h2, h3 {
        color: $midnight;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
        a {
            color: $midnight;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-word;
            font-weight: $font-weight--ultra-bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    ul, p {
        color: darken($dark-grey, 30%);
    }
    ul {
        list-style-type: none;
    }
    ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
    }
    &:first-child {
        margin-top: 100px;
    }
    @include mq(medium) {
        h2 {
            font-size: em(32px);
        }
    }

}

.logo {
    position: relative;
    width: 100%;
    padding: 60px 0;
    img {
        width: 200px;
        @extend %img-center;
        &:hover {
            width: 210px;
        }
    }
}

#about-me-text {
    margin-bottom: 60px;
    p:first-child {
        color: $midnight;
        font-weight: $font-weight--ultra-bold;
        font-style: italic;
    }
    a {
        color: lighten($midnight, 35%);
    }
}

pre {
    margin: 25px 0;
    width: 100%;
}

.text-grid {
    @include mq(xx-large) {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-gap: 30px;
        &__item:first-of-type {
            @include flex-col;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &__item:last-of-type {
            @include flex-col;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
}