// --------------------------------------------------------------------------
// General properties for the secondary pages -------------------------------
// --------------------------------------------------------------------------


.aux-text {
    
    font-weight: $font-weight--bold;
    min-width: 0;
    h2 {
        font-size: em(26px);
        margin-top: 30px;
        font-weight: $font-weight--ultra-bold;
    }
    h3 {
        font-size: em(24px);
        font-weight: $font-weight--bold;
    }
    h2, h3 {
        color: $midnight;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
        a {
            color: $midnight;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-word;
            font-weight: $font-weight--ultra-bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    ul, p {
        color: darken($dark-grey, 30%);
    }
    ul {
        list-style-type: none;
    }
    ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
    }
    &:first-child {
        margin-top: 100px;
    }
    @include mq(medium) {
        h2 {
            font-size: em(32px);
        }
    }
    @include mq(x-large) {
        padding: 0 8vw;
    }
}

.logo {
    position: relative;
    width: 100%;
    padding: 60px 0;
    img {
        width: 200px;
        @extend %img-center;
        &:hover {
            width: 210px;
        }
    }
}

#about-me-text {
    margin-bottom: 60px;
    p:first-child {
        color: $midnight;
        font-weight: $font-weight--ultra-bold;
        font-style: italic;
    }
}

pre {
    margin: 25px 0;
    width: 100%;
}