// --------------------------------------------------------------------------
// Portfolio ----------------------------------------------------------------
// --------------------------------------------------------------------------

.portfolio {
    padding: 70px 0 60px;
    @include grid-auto;
    grid-gap: 30px;
    &__item {
        color: $midnight;
        
        .padded {
            padding: 10px 5px 25px;
        }
        img {
            transition: ease .5s;
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 0 2px $dark-grey;
        }
        &:hover {
            img {
                transform: translate(0, -10px);
            }
            
        }
        .view-link {
            color: $dusk-blue;
            @include flex-row;
            font-weight: $font-weight--bold;
            p:hover {
                text-decoration: underline;
            }
            span {
                @include auto-mg-ver;
                margin-left: 5px;
                &::after {
                    content: "\ea3c";
                }
            }
        }
        .description {
            margin-top: 5px;
            line-height: 18px;
            color: darken($dark-grey, 20%);
        }
    }
}

//media queries

@include mq(x-large) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
        &__item:nth-child(3n + 1) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &__item:nth-child(3n + 2) {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        &__item:nth-child(3n + 3) {
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}
