// --------------------------------------------------------------------------
// Base ---------------------------------------------------------------------
// --------------------------------------------------------------------------

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.noscroll, .noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
  

body {
    font-weight: $font-weight--light;
    font-size: $base__font-size;
    font-family: $font-family--primary;
    line-height: ($base__line/$base__font-size);
    letter-spacing: $letter-space;
    overflow-x: hidden;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../Fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


header, footer, h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-weight: $font-weight--ultra-bold;
    font-size: em(45px);
}

h3 {
    font-weight: $font-weight--medium;
    font-size: em(30px);
}

@media screen and (min-width: 1px) {
    a {
        text-decoration: none;
    }
}
hr {
    background-color: $midnight;
    height: 2px;
}