// --------------------------------------------------------------------------
// Width --------------------------------------------------------------------
// --------------------------------------------------------------------------

.width {
    margin: 0 25px;
    max-width: calc(100vw - 50px);
    @include mq(large) {
        max-width: 520px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 730px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 940px;
        @include auto-mg-hor;
    }
}